* {
  box-sizing: border-box;
}

.list {
  border: none;
  width: 1000px;
  height: 200px;
}

.option {
  color: red;
}

option:checked {
	background-color: transparent;
}

.selected {
  background-color: rgb(206, 233, 241) !important;
  color: green;
}

.check{
	visibility: hidden;
}

.check:checked+.checkbox {
	background-color: yellow;
}

.checkbox{
	display: block;
	width: 20px;
	height: 20px;
	background-color: black;
}